In [1]:
import pandas as pd

In [2]:
df_country = pd.read_csv('WDICountry.csv')

In [3]:
df_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [4]:
df = pd.read_csv('WDIData.csv')

In [5]:
df = df[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2020']]

In [6]:
dfm= df.merge(df_country, on='Country Code')#.head()

In [7]:
dfm.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '2020', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data', 'Unnamed: 30'],
      dtype='object')

In [8]:
dfm = dfm.dropna(subset=['2020', 'Region'])

In [9]:
dfm = dfm[['Country Name', 'Country Code', 'Region', 'Indicator Name', 'Indicator Code', '2020']]

In [10]:
dfm = dfm.pivot(index=['Country Name', 'Region'], columns='Indicator Name', values='2020')

In [11]:
dfm = dfm.dropna(thresh=dfm.shape[0]*0.6,axis=1)

In [15]:
dfm.to_parquet('WDIData2020reduced.parquet')

In [20]:
dfm.reset_index()

Indicator Name,Country Name,Region,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Adjusted net national income (annual % growth),Adjusted net national income (constant 2015 US$),...,Voice and Accountability: Standard Error,"Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100),Women's share of population ages 15+ living with HIV (%)
0,Afghanistan,South Asia,33.2,15.9,82.6,97.699997,97.066711,99.500000,NaN,NaN,...,0.131839,91.824200,80.710820,82.690680,7.458117,17.44526,15.66604,1.062670,38.125,29.1
1,Albania,Europe & Central Asia,81.3,64.6,92.9,100.000000,100.000000,100.000000,NaN,NaN,...,0.125341,51.033400,51.347720,51.213460,47.901300,44.28428,45.82876,15.923926,91.250,26.4
2,Algeria,Middle East & North Africa,99.7,98.8,99.9,99.804131,99.579903,99.884010,-7.566353,1.393817e+11,...,0.126841,22.241384,27.485808,26.578760,75.772330,67.55082,68.97275,17.171033,57.500,46.8
3,American Samoa,East Asia & Pacific,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.635575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,Europe & Central Asia,100.0,100.0,100.0,100.000000,100.000000,100.000000,NaN,NaN,...,0.225485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),Latin America & Caribbean,NaN,NaN,NaN,100.000000,100.000000,100.000000,NaN,NaN,...,NaN,6.214548,9.907349,8.300634,92.301940,85.93559,88.70016,NaN,NaN,NaN
213,West Bank and Gaza,Middle East & North Africa,NaN,NaN,NaN,100.000000,100.000000,100.000000,NaN,NaN,...,0.160858,19.116699,22.362852,21.849154,78.742360,71.10741,72.31567,39.833712,26.250,NaN
214,"Yemen, Rep.",Middle East & North Africa,61.5,41.7,93.3,73.757927,61.941116,93.113457,NaN,NaN,...,0.134207,69.811040,49.626900,51.062810,28.775330,43.82722,42.75640,NaN,26.875,34.4
215,Zambia,Sub-Saharan Africa,10.4,2.0,20.5,44.524475,14.010825,82.382622,NaN,NaN,...,0.120647,85.473460,68.929510,76.873430,14.338180,30.70802,22.84771,14.897548,81.250,61.7
216,Zimbabwe,Sub-Saharan Africa,30.4,6.8,78.6,52.747669,37.060249,85.715477,-16.130673,1.337349e+10,...,0.120647,77.471420,58.673250,68.249560,22.351100,40.87444,31.43814,5.040365,86.875,60.5